@model MvcApp.usertbl

@{
    ViewBag.Title = "Создание нового пользователя";
}

<h2>Создание нового пользователя</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Данные пользователя</legend>

        <div>Логин</div>
        <div>
            @Html.EditorFor(model => model.loginuser)
            @Html.ValidationMessageFor(model => model.loginuser)
        </div>

        <div>Ф. И. О.</div>
        <div>
            @Html.EditorFor(model => model.nameuser)
            @Html.ValidationMessageFor(model => model.nameuser)
        </div>

        <div>Адрес</div>
        <div>
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div>Номер телефона
        </div>
        <div>
            @Html.EditorFor(model => model.phonenumber)
            @Html.ValidationMessageFor(model => model.phonenumber)
        </div>

        <div>E-mail</div>
        <div>
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
                
        <div>Пароль</div>
        <div>
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <p>
            <input type="submit" value="Создать" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("К списку пользователей", "Index")
</div>


