@model MvcApp.usertbl

@{
    ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить пользователя?</h3>
<fieldset>
    <legend>Данные пользователя</legend>
    <div>Логин: 
        @Html.DisplayFor(model => model.loginuser)
    </div>

    <div>Ф. И. О.: 
        @Html.DisplayFor(model => model.nameuser)
    </div>

    <div>Адрес: 
        @Html.DisplayFor(model => model.address)
    </div>

    <div>Номер телефона: 
        @Html.DisplayFor(model => model.phonenumber)
    </div>

    <div>E-mail: 
        @Html.DisplayFor(model => model.email)
    </div>
    
    <div>Пароль: 
        @Html.DisplayFor(model => model.password)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("К списку пользователей", "Index")
    </p>
}
